*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    text-align: center;
    font-family:  sans-serif;
    font-weight: bolder;
}

p::first-letter{
    
    font-size: 30px;
}

.a{
    color: white;
    background-color: black;

   
     
}




.b{
    color: white;
}

p{
    color: white;
}

i{
    color: white;
}

.ans{
    color: white;  
    margin: 0;
    box-sizing: border-box;
    text-align: left;
    background-color: gray;
    padding: 20px 25px;
  
    

   
}

li{
    color: white;
    display: inline;
   
}








