*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body{
    background-color: black;
    text-align: center;
    font-family:  sans-serif;
    font-weight: bolder;
}

p::first-letter{
    
    font-size: 30px;
}

.a{
    color: white;
    background-color: black;

   
     
}




.b{
    color: white;
}

p{
    color: white;
}

i{
    color: white;
}

.ans{
    color: white;
    background-color: grey;
    text-align: left;
    padding: 25px 30px;
    margin: 0;
    position: fixed;
    width: 1800px;
   
   
  
}

li{
    color: white;
    display: inline-block;
    margin: 0;
}





